* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 50%;
    margin-top: 200px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 60px;
    background-color: rgb(62, 146, 224);
    color: #fff;
}

.btn:hover {
    background-color: blue;
    transition: all 0.3s;
}

/* navbar */

#navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    font-size: 1.5rem;
    line-height: 2;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    font-weight: bold;
}

li,a {
    color: #fff;
}

#navbar a {
    text-decoration: none;
}

#navbar #logo {
    margin-left: 20px;
}

#navbar li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin-right: 40px;
}

#navbar li:hover {
    background-color: rgb(62, 146, 224);
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
}

.drop-down #drop {
    display: none;
    color: rgb(62, 146, 224);
    cursor: pointer;
}

.drop-down .list {
    display: inline-block;
}

.text-primary {
    color: rgb(27, 133, 231);
}

/* Section home */

#home {
    display: flex;
    justify-content: center;
    background: url(../img/home.jpg) no-repeat center center/cover;
    
}

#home .home-info {
    text-align: center;
}

.home-info h1{
    font-size: 4rem;
    margin: 70px;
}

.home-info h2 {
    font-size: 2rem;
}

/* sectionAbout */
#about {
    background: url(../img/bg-about.png) no-repeat;
}

#about h1 {
  text-align: center;
  font-size: 4rem;
  padding: 45px;
}

.about-content {
    display: flex;
    justify-content: space-between;  
}

.about-content p {
    font-size: 1.4rem;   
}

.about-content .info-me {
    width: 450px;
    margin-bottom: 30px;
}

.about-content .about-info {
    padding: 0 30px;
    margin-top: 35px;
    margin-left: 15%;
}

.about-content h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.about-content .image {
    margin-top: 70px;
    margin-bottom: 50px;
}

.about-content .image:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.about-content .skills {
    margin-right: 300px;
    margin-top: 35px;
}

.about-content .skills-list {
    padding-bottom: 50px;
    margin-top: 70px;
}

.about-content .skills-list .skill-box p {
    background-color: rgb(62, 146, 224);
    width: 300px;
    padding: 10px;
    border-radius: 7px;
}

.about-content .skills-list .skill-box p:hover {
    padding: 13px;
    transition: 0.5s;
    font-weight: bold;
    color: rgb(106, 246, 12);
    transform: scaleX(1.05);
}

.about-content .skills .skill-box i {
    margin-right: 10%;
    margin-left: 10%;
 }

.about-content .skills-list .skill-box {
    margin-top: 60px;
}

/* sectionProjects */


#projects {
    background: rgb(238, 236, 236);
}

#projects h2 {
    font-size: 3rem;
    text-align: center;
    padding-top: 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row .info-box {
    padding: 0 10px;
    margin-top: 30px;
    text-align: center;
}

.info-box .infobox-inner {
    padding: 25px;
}

.info-box .infobox-inner img {
    width: 100%;
    border: 1px solid rgb(34, 124, 228);
    border-radius: 15px;
}

.info-box .infobox-inner img:hover {
    transform: scale(1.05);
    transition: all 0.3s;
    opacity: 0.8;
}

/* SectionContact */

#contact #form {
    width: 100%;
}

#contact .contact-box {
    text-align: center;
    margin-top: 50px;
}

#contact .contact-box h2 {
    font-size: 3rem;
    margin-bottom: 50px;
}

.contact-box input {
    width: 50%;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 1rem;
    border: 1px solid rgb(27, 133, 231);
}

.contact-box input,textarea:focus {
    outline: none;
}

.contact-box textarea {
    font-size: 1rem;
    display: inline-block;
    width: 40%;
    border: 1px solid rgb(27, 133, 231);
}

.contact-box button {
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 1rem;
    width: 25%;
    padding: 15px;
}

/* footer */

    #footer {
        width: 100%;
        background-color: #333;
        color: white;
        height: 100px;
        text-align: center;
    }

    #footer div p {
        display: inline-block;
        margin-top: 50px;
        font-size: 1rem;
    }

    #footer div a {
        margin-right: 40px;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #footer div a:hover {
        color: rgb(34, 124, 228);
        font-size: 1.6rem;
        transition: all 0.3s;
    }


/* Media */


@media (max-width: 992px) {
    #about .about-info {
        margin-left: 0;
    }
}

@media (max-width: 750px) {
    #navbar, #home, #about, #projects {
        width: 100%;
    }
    .drop-down #drop {
        display: inline-block;
        float: right;
        margin-right: 15px;
    }

    #navbar .list {
        display: none;
    }

    #navbar li {
        padding: 0;
        margin: 0;
        margin-right: 20px;
        display: block;
        font-size: 15px;
    }

    #form input {
        width: 90%;
    }
}

@media (min-width: 768px) {
    .col-md-33p {
        width: 33.33%;
    }
}

@media (max-width: 1400px) {
    .col-md-33p {
        width: 49%;
    }
}

@media (max-width: 840px) {
    .about-content {
        display: block;
    }

    .about-content .about-info {
        width: 100%;
        text-align: center;
    }

    .about-content .info-me {
        width: 100%;
    }

    .about-content .skills {
       margin: 0;
    }

    .about-content .skills h2 {
        text-align: center;
        padding: 20px;
    }

    .about-content .skills-list {
        margin-top: 0;
    }

    .about-content .skills-list .skill-box {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .skills-list .skill-box p {
        margin: auto;
    }

    .col-md-33p {
        width: 100%;
    }

}



